<div class="dash__page__body">
  <nav class="top__nav">
    <img src="./assects/logo.png" alt="logo" />
    <div>
      <img src="./assects/bell.svg" alt="bell" />
      <img src="./assects/dp.svg" alt="dp" />
    </div>
  </nav>
  <div class="dash__sub__body">
    <div class="user__details">
      <img src="./assects/profile.jpg" alt="Profile" />
      <div>
        <p>Good Morning</p>
        <h1>Mr. Aaro Cliff</h1>
      </div>
    </div>
    <hr style="width: 100%" />
    <div class="book">
      <h3>Your Appointment's</h3>
      <div class="cards">
        <div class="card">
          <img
            src="https://img.icons8.com/external-vitaliy-gorbachev-flat-vitaly-gorbachev/58/000000/external-doctor-male-profession-vitaliy-gorbachev-flat-vitaly-gorbachev-1.png"
          />
          <div>
            <p><b> Dr. Raymond</b></p>
            <p>Date 12-12-2021</p>
            <p>12:00AM to 01:00AM</p>
          </div>
        </div>
        <div class="card">
          <img
            src="https://img.icons8.com/external-vitaliy-gorbachev-flat-vitaly-gorbachev/58/000000/external-doctor-male-profession-vitaliy-gorbachev-flat-vitaly-gorbachev-1.png"
          />
          <div>
            <p><b> Dr. Thoseef</b></p>
            <p>Date 21-12-2021</p>
            <p>12:00AM to 01:00AM</p>
          </div>
        </div>
      </div>
    </div>
    <div class="book">
      <h3>Book Appointment</h3>
      <div class="cards">
        <div class="card">
          <img
            src="https://img.icons8.com/external-vitaliy-gorbachev-flat-vitaly-gorbachev/58/000000/external-doctor-male-profession-vitaliy-gorbachev-flat-vitaly-gorbachev-1.png"
          />
          <div>
            <p><b> Dr. Raymond</b></p>
            <p>Audiologist</p>
          </div>
        </div>
        <div class="card">
          <img
            src="https://img.icons8.com/external-vitaliy-gorbachev-flat-vitaly-gorbachev/58/000000/external-doctor-male-profession-vitaliy-gorbachev-flat-vitaly-gorbachev-1.png"
          />
          <div>
            <p><b>Dr. Thoseef</b></p>
            <p>Dentist</p>
          </div>
        </div>
        <div class="card">
          <img
            src="https://img.icons8.com/external-vitaliy-gorbachev-flat-vitaly-gorbachev/58/000000/external-doctor-female-profession-vitaliy-gorbachev-flat-vitaly-gorbachev.png"
          />
          <div>
            <p><b>Vivika</b></p>
            <p>Radiologist</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
